- name: DIBBS ecr-viewer machine setup
  hosts: localhost
  vars_files:
    - ./vars.yaml
  tasks:
    - name: Install deps
      include_tasks: tasks/deps.yaml

    - name: Add project directories
      include_tasks: tasks/dirs.yaml

    # - name: Run AWS specific setup
    #   include_tasks: tasks/aws.yaml

    - name: Install fail2ban
      include_tasks: tasks/fail2ban.yaml

    - name: Configure fail2ban settings
      include_tasks: tasks/fail2ban-jails.yaml

    - name: Run ecr-viewer compose
      include_tasks: tasks/compose.yaml
